html{
    font-size: 10px;
}
a {
    text-decoration: none;
}

.navbar {
    background-color: rgb(130, 8, 8) !important;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 90%;
    width: 100%;
    z-index: 9999;
}


.brand {
    color: #ffffff;
    letter-spacing: -5px;
    font-family: 'Audiowide', cursive;  
}

.navbar .brand {
    font-size: 40px !important;
    text-decoration: none;
}


.navbar-nav .home {
    font-family: 'Audiowide', cursive;  
    color: #000000;
    margin-left: 80px;
    font-size: 20px;
    margin-top: 3px;
}


.more {
    font-family: 'Audiowide', cursive;  
    color: #000000;
    margin-left: -350px;
    font-size: 20px;
    margin-top: -35px;
    position: absolute;
}
.all {
    font-family: 'Audiowide', cursive; 
    color: #000000;
    margin-left: -470px;
    font-size: 20px;
    margin-top: -35px;
    position: fixed;
}

.d-flex {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }

  .form-control {
    flex-grow: 1;
    padding: 2px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .form-control::placeholder {
    color: #999; 
  }
  

  .btn {
    padding: 5px 20px;
    background-color:#3e3d3d; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.05); 
  }
  
  .ms-3 {
    margin-left: 10px; 
  }
  
* {
    margin: 0;
    padding: 0;
}
body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Ensure body takes full height */
  margin: 0;
  background-color: #333; /* Background to see white text clearly */
}

.information {
    font-family: 'Audiowide', cursive; 
    font-size: 50px;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-left: 200px;
  }
  .picture {
      background-image: url(../../photos/aries.jpg);
      background-size: 100%;
      padding: 200px 150px;
      background-repeat: no-repeat;
      position: absolute;
      top: 90px;
      left: 150px;
  }
  .picture:hover{
      background-image: url(../../photos/epicaries.jpg);
  }
 
@media (max-width: 1024px) {
    body {
        touch-action: manipulation;
    }
  
    
        html, body {
            font-size: 5px; /* Reasonable base font size for small screens */
            margin: 0;
            padding: 0;
            width: 100%;
            box-sizing: border-box;
        }
    
        .navbar {
            position: absolute;
            bottom: 0;
            padding: 20px 20px;
            left: 0;
            right: 0;
            text-align: center;
            background-color: #fff;
            height: 0px;
        }
    
        .navbar .brand {
            font-size: 20px !important;
            margin-left: -10px;
            letter-spacing: -2px;
            margin-top: -3px !important;
        }
    
        .navbar-nav .home {
            font-size: 12px !important;
            margin-left: 50px !important;
            margin-top: -0px;
  
        }
        .more{
          font-size: 12px !important;
          margin-left: -250px !important;
          margin-top: -30px;
  
        }
        .all{
          font-size: 12px !important;
          margin-left: -350px !important;
          margin-top: -30px;
   
        }
         
        .navbar-toggler {
            padding: 5px 10px;
            margin-top: -10px;
        }
        .picture{
            padding: 130px 100px;
            left: 460px;
        }
        .information{
            font-size: 5px !important;
            left: -300px;
            top: px;
        }
        .name{
            position: fixed;
            margin-left: 105px;
            top: 360px;
        }
        .birthday{
            position: fixed;
            margin-left: 160px;
            top: 380px;
        }
        .school{
            position: fixed;
            margin-left: 80px;
            top: 400px;
        }
        .section{
           position: fixed;
            margin-left: 190px;
            top: 420px; 
        }
        .field{
            position: fixed;
            margin-left: 140px;
            top: 440px;
        }
}
@media (max-width: 990px) {
    body {
        touch-action: manipulation;
    }
  
    
        html, body {
            font-size: 5px; /* Reasonable base font size for small screens */
            margin: 0;
            padding: 0;
            width: 100%;
            box-sizing: border-box;
            position: fixed;
        }
    
        .navbar {
            position: absolute;
            bottom: 0;
            padding: 20px 20px;
            left: 0;
            right: 0;
            text-align: center;
            background-color: #fff;
            height: 0px;
        }
    
        .navbar .brand {
            font-size: 20px !important;
            margin-left: -10px;
            letter-spacing: -2px;
            margin-top: -10px !important;
        }
    
        .navbar-nav .home {
            font-size: 12px !important;
            margin-left: -150px !important;
            margin-top: -0px;
  
        }
        .more{
          font-size: 12px !important;
          margin-left: 180px !important;
          margin-top: -64px;
  
        }
        .all{
          font-size: 12px !important;
          margin-left: 120px !important;
          margin-top: -63px;
   
        }
         
        .navbar-toggler {
            padding: 5px 10px;
            margin-top: -10px;
        }
        .picture{
            padding: 130px 100px;
            left: 440px;
        }
        .information{
            font-size: 5px !important;
            left: -300px;
            top: px;
        }
        .name{
            position: fixed;
            margin-left: 110px;
            top: 360px;
        }
        .birthday{
            position: fixed;
            margin-left: 160px;
            top: 380px;
        }
        .school{
            position: fixed;
            margin-left: 80px;
            top: 400px;
        }
        .section{
           position: fixed;
            margin-left: 190px;
            top: 420px; 
        }
        .field{
            position: fixed;
            margin-left: 145px;
            top: 440px;
        }
}
@media (max-width: 768px) {
    body {
        touch-action: manipulation;
    }
  
    
        html, body {
            font-size: 5px; /* Reasonable base font size for small screens */
            margin: 0;
            padding: 0;
            width: 100%;
            box-sizing: border-box;
            position: fixed;
        }
    
        .navbar {
            position: absolute;
            bottom: 0;
            padding: 20px 20px;
            left: 0;
            right: 0;
            text-align: center;
            background-color: #fff;
            height: 0px;
        }
    
        .navbar .brand {
            font-size: 20px !important;
            margin-left: -10px;
            letter-spacing: -2px;
            margin-top: -10px !important;
        }
    
        .navbar-nav .home {
            font-size: 12px !important;
            margin-left: -450px !important;
            margin-top: -0px;
  
        }
        .more{
          font-size: 12px !important;
          margin-left: 280px !important;
          margin-top: -64px;
  
        }
        .all{
          font-size: 12px !important;
          margin-left: 200px !important;
          margin-top: -64px;
   
        }
         
        .navbar-toggler {
            padding: 5px 10px;
            margin-top: -10px;
        }
        .picture{
            padding: 130px 100px;
            left: 310px;
        }
        .information{
            font-size: 5px !important;
            left: -300px;
            top: px;
        }
        .name{
            position: fixed;
            margin-left: 110px;
            top: 360px;
        }
        .birthday{
            position: fixed;
            margin-left: 150px;
            top: 380px;
        }
        .school{
            position: fixed;
            margin-left: 80px;
            top: 400px;
        }
        .section{
           position: fixed;
            margin-left: 180px;
            top: 420px; 
        }
        .field{
            position: fixed;
            margin-left: 140px;
            top: 440px;
        }
    
}
@media (max-width: 425px) {
    body {
        touch-action: manipulation;
    }
    
    html, body {
        font-size: 5px; /* Reasonable base font size for small screens */
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        position: fixed;
    }

    .navbar {
        position: absolute;
        bottom: 0;
        padding: 20px 20px;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #fff;
        height: 0px;
        position: fixed;
    }
    .navbar .brand {
        font-size: 20px !important;
        margin-left: -10px;
        letter-spacing: -2px;
        margin-top: -10px !important;
    }

    .navbar-nav .home {
        font-size: 12px !important;
        margin-left: -200px !important;
        margin-top: -0px;

    }
    .more{
      font-size: 12px !important;
      margin-left: 250px !important;
      margin-top: -64px;

    }
    .all{
      font-size: 12px !important;
      margin-left: 150px !important;
      margin-top: -64px;

    }
    .picture{
        padding: 130px 100px;
        left: 80px;
    }
    .information{
        font-size: 5px !important;
        left: -300px;
        top: px;
    }
    .name{
        position: fixed;
        margin-left: 125px;
        top: 360px;
    }
    .birthday{
        position: fixed;
        margin-left: 160px;
        top: 380px;
    }
    .school{
        position: fixed;
        margin-left: 105px;
        top: 400px;
    }
    .section{
       position: fixed;
        margin-left: 170px;
        top: 420px; 
    }
    .field{
        position: fixed;
        margin-left: 140px;
        top: 440px;
    }
}
    @media (max-width: 320px) {
        body {
            touch-action: manipulation;
        }
      
        
            html, body {
                font-size: 5px; /* Reasonable base font size for small screens */
                margin: 0;
                padding: 0;
                width: 100%;
                box-sizing: border-box;
                position: fixed;
            }
        
            .navbar {
                position: absolute;
                bottom: 0;
                padding: 20px 20px;
                left: 0;
                right: 0;
                text-align: center;
                background-color: #fff;
                height: 0px;
            }
        
            .navbar .brand {
                font-size: 20px !important;
                margin-left: -10px;
                letter-spacing: -2px;
                margin-top: -10px !important;
            }
        
            .navbar-nav .home {
                font-size: 12px !important;
                margin-left: -150px !important;
                margin-top: -0px;
      
            }
            .more{
              font-size: 12px !important;
              margin-left: 180px !important;
              margin-top: -64px;
      
            }
            .all{
              font-size: 12px !important;
              margin-left: 120px !important;
              margin-top: -63px;
       
            }
             
            .navbar-toggler {
                padding: 5px 10px;
                margin-top: -10px;
            }
            .picture{
                padding: 60px 50px;
                left: 110px;
            }
            .information{
                font-size: 5px !important;
                left: -300px;
                top: 80px;
            }
            .name{
                position: fixed;
                margin-left: 130px;
                top: 220px;
            }
            .birthday{
                position: fixed;
                margin-left: 155px;
                top: 235px;
            }
            .school{
                position: fixed;
                margin-left: 110px;
                top: 250px;
            }
            .section{
               position: fixed;
                margin-left: 170px;
                top: 265px; 
            }
            .field{
                position: fixed;
                margin-left: 145px;
                top: 280px;
            }
        
    }
